<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Угодай число</h1>
        <p id="p1">Количесто от 1 до 100</p>

        <p id="attemps">Количесто попыток 10</p>

        <input id="letter" class="letter" type="text" placeholder="">

        <button id="check" class="batton">Проверить</button>

        <button id="reload" class="batton">Играть заново</button>


        
    </div>
    <script type="text/javascript" src='{% static "script.js"%}'></script>
</body>
</html>